---
import Card from "../components/prices/Card.astro";
import CardHeader from "../components/prices/CardHeader.astro";
import CardTitle from "../components/prices/CardTitle.astro";
import CardContent from "../components/prices/CardContent.astro";
import PriceCardRow from "../components/prices/PriceCardRow.astro";
import MetaSvgIcon from "../components/icons/MetaSvgIcon.astro";
import IAIcon from "../components/icons/IAIcon.astro";

const plans = [
  {
    title: "Pack Base",
    subtitle: "Información básica de tu negocio",
    price: "$40.000",
    anualPrice: "$440.000",
    features: [
      "Responde preguntas frecuentes",
      "Proporciona horarios y ubicación",
      "Respuestas rápidas y precisas",
    ],
  },
  {
    title: "Pack Turnos",
    subtitle: "Gestión de turnos y citas",
    price: "$60.000",
    anualPrice: "$660.000",
    features: [
      "Incluye <span class='font-extrabold text-primary'>Pack Base</span>",
      "Reserva de turnos eficiente",
      "Gestión de citas y mesas",
      "Optimiza consultorios y restaurantes",
    ],
  },
  {
    title: "Pack Pro",
    subtitle: "Asistente virtual avanzado",
    price: "$80.000",
    anualPrice: "$880.000",
    features: [
      "Incluye <span class='font-extrabold text-primary'>Pack Turnos</span>",
      "Reportes de actividad",
      "Notificaciones a clientes",
      "Registro de ventas",
      "Optimización de negocio",
    ],
  },
  {
    title: "Personalizado",
    subtitle: "Soluciones a medida",
    price: "A definir",
    anualPrice: "A definir",
    features: [
      "Panel de control en tiempo real",
      "Soluciones adaptadas a tu negocio",
      "Notificaciones por WhatsApp",
      "Análisis de conversaciones",
      "Mensajes de voz",
      "Métricas y reportes en PDF",
    ],
  },
];

const additionals = [
  {
    title: "Meta",
    description:
      "Aprovechá la tecnología de Meta para mejorar tu presencia en WhatsApp",
    bgColor: "bg-[#0080FB]",
    icon: MetaSvgIcon,
  },
  {
    title: "Inteligencia Artificial",
    description:
      "Aprovechá la Inteligencia Artificial para generar flujos de conversación más efectivos",
    bgColor: "bg-[#ED254E]",
    icon: IAIcon,
  },
];
---

<section id="pricing" class="w-full bg-secondary py-12 md:py-24 lg:py-32">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="mb-6 text-center text-3xl font-bold tracking-tighter text-text md:text-5xl"
    >
      Inversión
    </h2>
    <h3
      class="mb-12 text-center text-xl font-medium tracking-tighter text-text sm:text-3xl"
    >
      Encontrá el plan perfecto para tu negocio
    </h3>

    <div class="mb-8 flex justify-center">
      <div class="inline-flex rounded-lg bg-gray-100 p-1">
        <button
          class="rounded-md px-4 py-2 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary"
          id="monthly">Mensual</button
        >
        <button
          class="rounded-md px-4 py-2 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary"
          id="annual">Anual</button
        >
      </div>
    </div>

    <div class="mb-12 grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
      {
        plans.map((plan) => (
          <Card>
            <CardHeader>
              <CardTitle>{plan.title}</CardTitle>
              <p class="text-sm text-gray-600">{plan.subtitle}</p>
            </CardHeader>
            <CardContent>
              <div class="flex h-full flex-col justify-between">
                <div>
                  <div class="text-3xl font-bold text-text">
                    <span class="monthly-price">{plan.price}</span>
                    <span class="annual-price hidden">{plan.anualPrice}</span>
                    <span class="text-sm font-normal">
                      /<span class="monthly-label">mes</span>
                      <span class="annual-label hidden">año</span>
                    </span>
                  </div>
                  <div class="annual-discount hidden text-sm font-medium text-primary">
                    ¡1 mes gratis!
                  </div>
                  <ul class="mt-4 space-y-2">
                    {plan.features.map((feature) => (
                      <PriceCardRow>
                        <Fragment set:html={feature} />
                      </PriceCardRow>
                    ))}
                  </ul>
                </div>
              </div>
            </CardContent>
          </Card>
        ))
      }
    </div>

    <h3
      class="mb-12 text-center text-xl font-semibold tracking-tighter text-text sm:text-3xl"
    >
      Mejorá tu experiencia con nuestros adicionales personalizados
    </h3>

    <div class="grid gap-6 sm:grid-cols-1 lg:grid-cols-2">
      {
        additionals.map((additional) => (
          <div
            class={`flex items-center justify-between overflow-hidden rounded-lg ${additional.bgColor} p-6 text-secondary shadow-md`}
          >
            <div class="flex flex-col">
              <div class="text-lg font-semibold sm:text-2xl">
                {additional.title}
              </div>
              <div class="mt-2 text-sm">{additional.description}</div>
            </div>
            <div class="flex w-1/5 shrink-0 grow-0 justify-center">
              <additional.icon color="white" size={48} />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const monthlyBtn = document.getElementById("monthly");
    const annualBtn = document.getElementById("annual");
    const monthlyPrices = document.querySelectorAll(".monthly-price");
    const annualPrices = document.querySelectorAll(".annual-price");
    const monthlyLabels = document.querySelectorAll(".monthly-label");
    const annualLabels = document.querySelectorAll(".annual-label");
    const annualDiscounts = document.querySelectorAll(".annual-discount");

    function setMonthly() {
      monthlyPrices.forEach((price) => price.classList.remove("hidden"));
      annualPrices.forEach((price) => price.classList.add("hidden"));
      monthlyLabels.forEach((label) => label.classList.remove("hidden"));
      annualLabels.forEach((label) => label.classList.add("hidden"));
      annualDiscounts.forEach((discount) => discount.classList.add("hidden"));
      monthlyBtn?.classList.add("bg-white", "shadow");
      annualBtn?.classList.remove("bg-white", "shadow");
    }

    function setAnnual() {
      monthlyPrices.forEach((price) => price.classList.add("hidden"));
      annualPrices.forEach((price) => price.classList.remove("hidden"));
      monthlyLabels.forEach((label) => label.classList.add("hidden"));
      annualLabels.forEach((label) => label.classList.remove("hidden"));
      annualDiscounts.forEach((discount) =>
        discount.classList.remove("hidden")
      );
      annualBtn?.classList.add("bg-white", "shadow");
      monthlyBtn?.classList.remove("bg-white", "shadow");
    }

    if (monthlyBtn && annualBtn) {
      // Set monthly as default
      setMonthly();

      monthlyBtn.addEventListener("click", setMonthly);
      annualBtn.addEventListener("click", setAnnual);
    }
  });
</script>
